/* Color */
header {
  max-height: 150px;
}
header .navbar {
  padding: 0;
}
header .navbar .container-fluid {
  background-color: black;
}
header .navbar .container-fluid .navbar-toggler {
  color: white !important;
  border-color: white !important;
}
header .navbar .container-fluid img {
  height: 130px;
  margin-left: 50px;
}
header .navbar .container-fluid .navbar-nav .nav-link {
  color: white;
  font-size: 22px;
}
header .navbar .container-fluid .navbar-nav:hover .nav-link:hover {
  color: #ffd60a;
}

footer {
  background-color: black;
  color: white;
  min-height: 20px;
}
footer p {
  margin: 0;
  font-size: 15px;
}

body h1, body h2 {
  font-family: "Kalam", cursive;
}
body h1 {
  font-size: 60px;
}
body h2 {
  font-size: 40px;
}
body p, body li {
  font-family: "Lora", serif;
  font-size: 18px;
}

#about-me {
  margin: 30px 100px;
}
#about-me img {
  width: 40%;
  border-radius: 50%;
}
#about-me #text-apropos {
  width: 60%;
}
#about-me #text-apropos a {
  text-decoration: none;
  color: #ffd60a;
  font-weight: 700;
}
#about-me #text-apropos a:hover {
  font-size: 24px;
}
#about-me .cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}
#about-me .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #ffd60a;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}
#about-me .cta span {
  position: relative;
  font-family: "Lora", sans-serif;
  font-size: 20px;
  letter-spacing: 0.05em;
  color: #000;
}
#about-me .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #000;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
#about-me .cta:hover:before {
  width: 100%;
  background: #ffd60a;
}
#about-me .cta:hover svg {
  transform: translateX(0);
}
#about-me .cta:active {
  transform: scale(0.95);
}

#competences-technologies .card {
  width: 140px;
  height: 60px;
  perspective: 1000px;
  border-color: #fff;
}
#competences-technologies .card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}
#competences-technologies .card:hover .card-inner {
  transform: rotateY(180deg);
}
#competences-technologies .card-front,
#competences-technologies .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
#competences-technologies .card-front {
  background-color: #ffd60a;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #ffd60a;
  border-radius: 10px;
  justify-content: center;
  font-size: 20px;
  transform: rotateY(0deg);
}
#competences-technologies .card-front i {
  font-size: 30px;
}
#competences-technologies .card-front p {
  font-size: 16px;
}
#competences-technologies .card-back {
  background-color: #fff;
  color: #ffd60a;
  display: flex;
  align-items: center;
  border: 2px solid #ffd60a;
  border-radius: 10px;
  justify-content: center;
  font-size: 20px;
  transform: rotateY(180deg);
}
#competences-technologies .card-back p {
  margin-bottom: 0;
}
#competences-technologies img {
  width: 600px;
}

#portfolio .portfolio-grid {
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr) 1fr;
  grid-template-rows: repeat(3, 150px) 100px 50px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
#portfolio .portfolio-grid .div1 {
  grid-area: 1/2/2/4;
}
#portfolio .portfolio-grid .div1 p {
  text-align: end;
  padding-right: 10px;
}
#portfolio .portfolio-grid .div2 {
  grid-area: 2/2/5/4;
  position: relative;
  display: inline-block;
}
#portfolio .portfolio-grid .div2 img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  max-width: 100%;
  height: auto;
}
#portfolio .portfolio-grid .div2 .text-hover {
  position: absolute;
  top: 30%;
  width: 100%;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}
#portfolio .portfolio-grid .div2:hover img {
  opacity: 0.5;
}
#portfolio .portfolio-grid .div2:hover .text-hover {
  opacity: 1;
}
#portfolio .portfolio-grid .div3 {
  grid-area: 1/4/3/6;
  position: relative;
  display: inline-block;
}
#portfolio .portfolio-grid .div3 img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  max-width: 100%;
  height: auto;
}
#portfolio .portfolio-grid .div3 .text-hover {
  position: absolute;
  top: 30%;
  width: 100%;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}
#portfolio .portfolio-grid .div3:hover img {
  opacity: 0.5;
}
#portfolio .portfolio-grid .div3:hover .text-hover {
  opacity: 1;
}
#portfolio .portfolio-grid .div4 {
  grid-area: 3/4/5/6;
  position: relative;
  display: inline-block;
}
#portfolio .portfolio-grid .div4 img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  max-width: 100%;
  height: auto;
}
#portfolio .portfolio-grid .div4 .text-hover {
  position: absolute;
  top: 30%;
  width: 100%;
  opacity: 0;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}
#portfolio .portfolio-grid .div4:hover img {
  opacity: 0.5;
}
#portfolio .portfolio-grid .div4:hover .text-hover {
  opacity: 1;
}

#contact {
  background-color: #ffd60a;
  height: 140px;
}
#contact #contact-container {
  width: 80%;
  margin-bottom: 60px;
}
#contact .contact-box {
  width: 30%;
}
#contact .contact-box i {
  font-size: 36px;
  color: #000;
}/*# sourceMappingURL=style.css.map */